@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@*Summary Widgets*@
<div class="row mb-4">

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-light fa-stopwatch-20" style="color: #74C0FC;"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Your Today's Bids</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalTodayBid</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Your Projects</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalProjectbyUser</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Date</span>
                <h3 class="fw-bold">@DateTime.Now.ToString("MMMM d, yyyy")</h3>
            </div>
        </div>
    </div>

</div>

@*Doughnut and Spline Chart*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Today's Bids Per User</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                                           xName="userName" yName="bidCount"
                                           innerRadius="60%" legendShape="Circle"
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        <e-accumulationseries-datalabel name="formattedBidCount" visible></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Bids vs Projects</h5>
            </div>
            <ejs-chart id="spline-chart" background="#1a222b"
                       palettes=@(new string[]{"#54ffa9","#ffe91a"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="User" width="3"
                              yName="Bids" name="Bids" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="User" width="3"
                              yName="Projects" name="Projects" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

@*Recent Transactions and More*@
<div>
    <div>
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Recent Projects</h5> <!-- Updated title -->
                
            </div>
            <div class="px-4 pb-4">
                <ejs-grid id="recent-projects"
                          dataSource="@ViewBag.RecentProjects"
                          gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Project Title" field="Name"></e-grid-column> <!-- Assuming Title is a property in Project -->
                        <e-grid-column headerText="Bid Date" field="Bid.DateTime" type="date" format="MMM-dd-yy"></e-grid-column> <!-- DateTime of Bid -->
                        <e-grid-column headerText="Account Name" field="Bid.Account.Name"></e-grid-column> <!-- Account Name within Bid -->
                        <e-grid-column headerText="Bid By" field="Bid.User.FirstName"></e-grid-column> <!-- User FirstName within Bid -->
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</div>
