@model List<Expense_Tracker_WebApp.Models.Payslip>

@{
    ViewData["Title"] = "Payslip List";
}

<h2>Payslip List</h2>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Basic Salary</th>
            <th>Total Commission</th>
            <th>Total Salary</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.Email</td>
                <td>@item.BasicSalary</td>
                <td>@item.TotalCommission</td>
                <td>@item.TotalSalary</td>
                <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
